:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --lightcream: #ececec;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --productborder: #eeeeee;
  --background: rgba(47, 48, 58, 0.4);
  --iconcolor: #afb1b8;
  --footericon: rgba(255, 255, 255, 0.1);
  --backgroundbackdrop: rgba(000, 000, 000, 0.2);
  --placeholder-text: rgba(117, 117, 117, 0.5);
  --bordercolor: #21212133;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--darkgrey);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*powtarzające*/

.no-line {
  text-decoration: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
/*menu-nav*/
.container {
  width: 1200px;
  margin: 0 auto;
}
.header {
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 25px 0 24px 0;
  display: flex;
}
.webstudio {
  border-style: none;
  font-family: "Raleway";
  color: var(--black);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.blue-text {
  color: var(--blue);
}
.nav {
  display: flex;
  list-style: none;
  line-height: 1.2;
  margin: 0;
}
.nav__style {
  gap: 46px;
  line-height: 1.2;
  padding: 0;
}
.touch::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
  transform: translateY(29px);
  border-radius: 2px;
  position: absolute;
}
.touch__link {
  color: var(--blue);
}
.nav__link {
  height: 16px;
  font-weight: 500;
  display: flex;
  line-height: 1.2;
  color: var(--notblack);
  position: relative;
}

/*contakty boczne*/
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-left: auto;
}
.contact__link {
  color: var(--gray);
  font-weight: 500;
}
.icon__logo {
  margin-right: 10px;
}
.icons__header {
  fill: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*bg&button*/
.section__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364em;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

.section {
  background-image: url("https://raw.githubusercontent.com/SylwiaFlorek/goit-markup-hw-04/main/images/background.jpg");
  background-color: var(--background);
  background-blend-mode: difference;
  width: 1600px;
  color: var(--white);
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 200px 0;
}
.button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  background: var(--blue);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  color: var(--white);
}
.button:hover {
  background-color: var(--blue);
  cursor: pointer;
  box-shadow: 0px 1px 3px rgb(197 197 197/ 12%), 0px 1px 1px rgb(197 197 197),
    0px 2px 1px rgb(197 197 197/ 20%);
}
.button:active {
  box-shadow: inset 1px 1px 1px 1px hsla(0, 0%, 0%, 0.3);
}
/*Lorem list*/
.lorem__list {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
  padding: 94px 0 0 0;
}
.lorem__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin: 0 0 10px 0;
  line-height: 1.1428571428571428;
}
.lorem__icon {
  background-color: var(--notwhite);
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lorem__icon:hover {
  fill: var(--blue);
}

.lorem__text {
  line-height: 0.03em;
  line-height: 1.71;
  width: 270px;
  text-align: left;
}
/*czym sie zajmujemy*/
.job {
  padding: 94px 0;
  align-items: center;
  flex-direction: column;
}

.job__list {
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding-left: 0;
}
.job__item {
  list-style-type: none;
  width: 370px;
  height: 294px;
  display: flex;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.job__images {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.job__images > .job__text {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 27px 90px;
  width: 370px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--backgroundbox);
  color: var(--white);
}

/*Nasz zespół*/
.social {
  background-color: var(--notwhite);
  padding: 94px 0;
}
.heading {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 50px;
  text-align: center;
}
.social__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}
.social__item {
  width: 270px;
  height: 260px;
  list-style-type: none;
}
.social__images {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgb(201 45 45 / 12%), 0px 1px 1px rgb(197 197 197),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.social__name {
  gap: 99px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin: 30px 0 10px 0;
}
.social__text {
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  background: rgb(255, 254, 254);
  color: #757575;
  list-style-type: none;
  font-size: 16px;
  margin: 0 0 30px 0;
}
.social__icons {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  padding-left: 32px;
}

.social__icon {
  width: 44px;
  height: 44px;
  background-color: var(--footericon);
  border-radius: 50%;
  fill: var(--iconcolor);
}

.social__icon:hover,
.social__icon:focus {
  cursor: pointer;
  fill: var(--white);
  background-color: var(--blue);
}

/*Nasi klienci*/
.client {
  padding: 94px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.client__logos {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}
.client__logo {
  border-radius: 4px;
  border: var(--iconcolor) solid 1px;
  width: 170px;
  height: 92px;
  fill: var(--iconcolor);
}
.client__logo:hover {
  fill: var(--blue);
  border: var(--blue) solid 1px;
}

/*footer container*/
.footer {
  background-color: var(--darkgrey);
}
.footer__container {
  flex-direction: column;
  color: var(--white);
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}
.footer__adress p {
  margin: 20px 0 0 0;
  font-style: normal;
  color: var(--white);
}

.footer__list li {
  margin: 0 auto;
  list-style-type: none;
}
.footer__link {
  color: gray;
  text-decoration: none;
  display: block;
  padding: 4px 0;
}
.white-logo {
  color: var(--white);
}

.footer__link:hover,
.footer__link:focus,
.blue__text:hover,
.blue__text:focus {
  fill: var(--blue);
  color: var(--blue);
}

.footer__heading {
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  margin-left: 70px;
  margin-bottom: 20px;
  font-weight: 14px;
}
.footer__contacts {
  width: 246px;
}
.footer__icons {
  display: flex;
  gap: 10px;
  margin-left: 70px;
  list-style: none;
  padding: 0;
}
.footer__icon {
  width: 44px;
  height: 44px;
  background-color: var(--footericon);
  border-radius: 50%;
  fill: var(--white);
}
.footer__icon:hover {
  background-color: var(--blue);
}

.signup {
  background-color: rgba(0, 0, 0, 0);
  border: solid rgba(255, 255, 255, 0.3) 1px;
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  margin-left: 74px;
  font-size: 16px;
}
.signup__button {
  background: var(--blue);
  color: var(--white);
  width: 200px;
  height: 50px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border-style: none;
  margin-left: 12px;
  text-align: left;
  padding-left: 42px;
  cursor: pointer;
}
.signup__logo {
  fill: var(--white);
  position: absolute;
  width: 50px;
  height: 24px;
}
/*portfolio*/
.buttons__menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;
}
.button__style {
  background-color: var(--notwhite);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 4px;
  font-family: "Roboto";
  padding: 0 20px;
}
.button__style:focus,
.button__style:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.project__container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
  list-style: none;
  justify-content: center;
}
.box__anim {
  position: absolute;
  overflow: hidden;
  width: 370px;
  height: 295px;
}
.box__anim:hover .project-anim {
  transform: translatex(0);
}
.project__anim {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 49px 24px;
  color: var(--white);
  transform: translatey(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__item > li {
  border: var(--productborder) solid 1px;
  flex-basis: calc((100% - 90px) / 3);
  height: 404px;
  margin: 0;
}
.project__name > h4 {
  border: var(--productborder) solid 1px;
  color: var(--darkgrey);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
}
.project__style {
  border: transparent solid 1px;
  padding-left: 24px;
}
.project__text > p {
  line-height: 1.88;
  font-size: 16px;
}
.style-line {
  border-bottom: var(--notwhite) solid 1px;
}
.project__item:hover,
.project__item:focus > li {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*okno modalne*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 250ms ease-in;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms ease-in;
}
.close-btn {
  position: absolute;
  top: 3px;
  right: 4px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.form__heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.172;
  color: var(--notblack);
  margin: 40px 0 20px 0;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.form__input {
  box-sizing: border-box;
  width: 448px;
  height: 40px;
  left: 576px;
  top: 382px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.form__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea::placeholder {
  color: var(--placeholder-text);
}
.form__textarea:hover,
.form__textarea:focus,
.form__textarea:active {
  border: var(--blue) 1px solid;
  box-shadow: none;
  outline: none;
}
.form__icons {
  fill: var(--notblack);
  width: 15px;
  height: 13px;
  position: absolute;
}
.form__hover:hover > .form__input,
.form__hover:focus > .form__input {
  border: var(--blue) 1px solid;
  box-shadow: none;
  outline: none;
}
.form__hover:hover > .form__icons,
.form__hover:focus > .form__icons {
  fill: var(--blue);
}
.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-position1 {
  top: 117px;
  left: 55px;
}
.icon-position2 {
  top: 191px;
  left: 52px;
}
.icon-position3 {
  top: 260px;
  left: 52px;
}
.form__button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  background: var(--blue);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  color: var(--white);
  margin-bottom: 40px;
}
.tick {
  fill: var(--white);
  width: 11px;
  height: 8px;
  position: absolute;
  left: 47px;
  top: 459px;
  z-index: 999;
}

.form__statute {
  font-size: 14px;
  padding: 10px 0 20px 0;
  cursor: pointer;
}
.form__statute input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.form__marker {
  position: absolute;
  cursor: pointer;
  top: 455px;
  left: 45px;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  background-color: var(--white);
  border: var(--notblack) 2px solid;
}
.form__statute input:checked ~ .form__marker {
  background-color: var(--blue);
  border: none;
}
.form__marker:after {
  content: "";
  position: absolute;
  display: none;
}
.form__statute input:checked ~ .form__marker:after {
  display: block;
}
.form__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}
