@import "./untils/colors";
@import "./untils/resets";
@import "./untils/fonts";
@import "./untils/mixins";

@import "./components/modal";

body {
  background-color: $primary-color;
  color: $primary-text;
  font-size: map-get($font-size, standard);
  letter-spacing: map-get($letter-spacing, standard);
}
.container {
  width: 1200px;
  @include center;
}
